body {
    background-color: #f0f4f8;
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
}

#home_page, #login, #register, #adminlogin {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 40px;
    margin: 20px auto;
    width: 90%;
    max-width: 400px;
}

#header {
    background-color:#6c5ce7;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#header h2 {
    font-family: 'Pacifico', cursive;
    color: #ffffff;
    margin: 0;
}

#logout_link {
    text-decoration: none;
    color: white;
    background-color: #6c5ce7;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#logout_link:hover {
    background-color: #a29bfe;
}

#left_sidebar {
    background-color: #f7f9fc;
    padding: 20px;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#left_sidebar table {
    width: 100%;
    border-spacing: 0;
}

#left_sidebar table tr {
    background-color: #6c5ce7;
    color: white;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
}

#left_sidebar table tr:hover {
    background-color: #dcdde1;
    color: #4a69bd;
}

.link {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 0;
    transition: color 0.3s ease;
}

.link:hover {
    color: #4a69bd;
}

#right_sidebar {
    padding: 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#right_sidebar h4 {
    color: #4a69bd;
}

#right_sidebar ul {
    list-style-type: disc;
    margin: 20px 0;
    padding-left: 20px;
}

#right_sidebar ul li {
    margin-bottom: 10px;
}

.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

iframe {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
